<a id='menu'></a>
 <hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25"> 

 ![learning academy and data science campus logos](../images/la_dsc_logo.jpg)
  <hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25">

<a id='menu'></a>
# Introduction to Python

## Chapter 2 – Identifiers, Data Types, and Objects
***
Follow along with the code by running cells as you encounter them
***

*Chapter  Overview and Learning Objectives*:


* [Identifiers](#identifiers)
    - Variables
    - Naming objects
    - Naming conventions


* [Data Types](#data_types)
  - Numerics
  - Strings
  - Booleans
  - Type Conversion


* [Objects and Classes](#objects)
  - Lists
  - Tuples
  - Dictionaries
  - Indexing
  - Accessing functions, methods and attributes


* [Pandas Objects](#pandas_objects)
  - Packages
  - Importing Pandas
  - Series
  - Data Frame


* [Accessing Help](#help)

<a id='identifiers'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Identifiers

Python is an "object orientated programming language".

In Python everything is an "object". We’ll look at some of the common ones in this section, like lists, tuples and dictionaries. We’ll also look at some specialised objects – like series and data frames from the Pandas module.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Variables

When we create objects in Python we assign it to a variable. 

Variables are words and numbers that act like labels; a reference to an object that lives in memory. 

Without this variable we can’t “find” the object again in memory and won’t be able to use it.

In Python we assign variables using the equals sign ( `=` )
 
Our label (or variable name) goes on the left of the equals sign.

The object we want to store goes on the right of the equals sign.

In Python we do not have to state the data type of variable we are storing.

In [1]:
x = 4 + 3

In [2]:
4 + 3

7

Here we are storing an object (the sum of `4 + 3`) and giving it the label of `x`.

You’ll notice that when we run the cell above it does not output the value of `x`.

To see the value of `x` we can give Python the variable name, run the cell and it will output the value.

In [3]:
x

7

Why do we have to ask Jupyter to output things? 

When we assign a variable Python keeps it stored within memory for later use. While we’re learning or testing our code we may want to check our outputs regularly. 

However, once we’re confident the code operates as expected outputting every stage isn’t necessary – in fact it’s not an efficient use of memory.

In [4]:
x = 4 + 3
y = "Hello"

x
y

'Hello'

Notice how the output for the above cell is the value of y.

Jupyter prints one output per cell by default.

If I want to print more I can use the `print()` function.

In [5]:
print(x, y)

7 Hello

Some users will add in additional text strings here to explain results. For example:

In [6]:
print(y, "I am", x, "years old")

Hello I am 7 years old

You will see a lot of the solutions in this course wrapped in `print()` functions – to avoid using multiple cells.

Finally – we can overwrite the values of a variable by reassigning it.

`y` had the value of `"Hello"`

This code below will now give it the value of `26`. 

We should be careful when we’re assigning variables as Python does not warn us if a variable already exists!

In [7]:
y = 26
y

26

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Naming Conventions

Naming your variables can be one of the trickier parts of coding.

Choosing sensible names saves time and energy later, when you try and remember what you've called something. 

Clever naming allows you to figure out what an object contains without having to inspect it.


A variable name:

* Must start with a letter or an underscore
* Can’t begin with a number
* Only contain alphanumeric characters and underscores
* Is case sensitive (MY_VARIABLE and my_variable and My_vArIaBle are treated independently)
* Must not have hyphens

You may also have your own departmental guidance for naming variables.

General guidance recommends [Python’s pep8 coding standards](https://realpython.com/python-pep8/#naming-styles) use of lowercase_with_underscores.

Consistency is important – if you pick up your code after 6 months, or pass code on to your colleagues, using consistent names ensures your code works and improves the quality. 

> "Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. Code for readability." - John F Woods


[The Data Science Campus]( https://datasciencecampus.github.io/coding-standards/python.html#style-guide) have their style guide linked online.


Through this course we will use lower case words with an underscore between them, e.g:

``` python
music_df  # The contents should be a DataFrame

cars_model # The contents should be a model

names_list # The contents should be a list

```

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Try storing the value of Pi (3.14159) under an appropriate variable name

In [9]:
# Exercise
pi = 3.14519
pi

import numpy as np
np.pi

3.141592653589793

In [11]:
# %load ../solutions/chapter_2/assigning_variables.py
# Store the value of Pi under an appropriate variable name

pi = 3.14159

# Return the value of pi

pi

3.14159

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

You can see what variables you have declared by using the [magic command](https://ipython.readthedocs.io/en/stable/interactive/magics.html) 

`%whos`.

These magic commands work in Jupyter Notebooks. These rely on an iPython console; in programs like Spyder they will only work in the IPython console; and even then not all commands will perform the same action as in Jupyter Notebooks.

Jupyter Notebook does not have a typical variable explorer like you may have seen in other languages. If this is important to you, Spyder does have this capability.

In [13]:
%who

np	 pi	 x	 y

In [12]:
%whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pi         float     3.14159
x          int       7
y          int       26

You can delete variables by using the keyword `del` and then supplying the variable name.

In [14]:
del x

If we run `%whos` again we'll notice `x` no longer exists

In [15]:
%whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pi         float     3.14159
y          int       26

In [19]:
p

NameError: name 'pI' is not defined

Note if we now try returning x we will get an error message:  

``` python
NameError: name 'x' is not defined

```

`x` is not defined as we deleted it.

You’ll also see this error if you make a spelling mistake or capitalisation error when referring to a variable. 

e.g capital `Y` will give the same error, as our variable is lower case `y`.

[return to menu](#menu)

<a id='data_types'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Data Types

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Numerical

We’ll deal with two main types of numeric data types in Python.

**int ** (plain integers) are positive or negative (or zero) whole numbers.

We can use the type() function to check the type of whatever we put within the brackets.

In [20]:
type(4)

int

In [21]:
type(y)

int

**float** (floating point numbers) are decimal numbers.

In [22]:
type(4.5674)

float

In [23]:
type(pi)

float

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise

Store your age (as a int)
Store your height in meters (as a float)

Use apropriate variable names.
Use one line per variable.

N.B. Your height needs to be a number, Python will give an error if you try and store a variable like 1.6m.

In [26]:
# Exercise
int(3.698)
round(3.498)

3

In [28]:
# %load ../solutions/chapter_2/data_type_numeric.py
# Create a variable for age (int)
age = 29

# Create a variable to store height (float)

height = 1.6

# Print out the variables

print("My age is", age, "and my height is", str(height)+"m" )

# If I want to display my height as 1.6m I need to convert height to a string
# The + symbol concatenates (joins without a space)

My age is 29 and my height is 1.6m

In [32]:
print(str(height)+"m")

1.6m

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Strings

Strings are sequences of character data. The type in Python is called **str**. 

Strings are contained within either 'single' or "double" quotation marks.

All characters between the opening and the closing quote are part of the string.

In [33]:
print(type("Hello"), type("This is a string"), type('This string contains 5 words!'))

<class 'str'> <class 'str'> <class 'str'>

As you can see by running the cell above strings can also contain numbers and punctuation. We’ll look at this again later when we import data.

The choice between single and double quotes is up to the user. 

We reccomend that if you’re creating strings that use apostrophes or single quote marks, use double quotes to open and close your string.

The cells below will provide an error message.

In [34]:
'Tom's phone'  # Will cause an error

SyntaxError: invalid syntax (<ipython-input-34-13893f85e431>, line 1)

In [ ]:
"Sadia said "creating strings is easy" to the room " # Will also cause an error

But this cell, using double quotes to start and end our string with an apostrophe, and using single quotes for our string containing speach works well.

In [35]:
"Tom's phone" , 'Sadia said "creating strings is easy" to the room'

("Tom's phone", 'Sadia said "creating strings is easy" to the room')

In [36]:
'Tom\'s phone'  # Will cause an error

"Tom's phone"

Notice how the whole strings are coloured red in the second example.

This is something known as syntax highlighting and can be very useful to ensure you’ve closed your strings.

 <hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5"> 
### Exercise


Store the value of your name under an appropriate variable

In [ ]:
# Exercise

In [38]:
# %load ../solutions/chapter_2/data_type_string.py
# Store your name under an appropriate variable
name = "Hannah"

# Print out the value

name

'Hannah'

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Boolean

Boolean values are sometimes called logical values in other languages. 

There are two values `True` and `False`. 

In Python they must be spelt out fully and have a capital first letter. They are **not** text values; so do **not** require quote marks. They are a reserved word, and so are displayed in bold green text.

As we’ll see later Python often evaluates expressions in a Boolean context; something is either “true” or “false”.

`True` has the value of 1 and `False` has the value of 0.

In [39]:
print(type(True), type(False))

<class 'bool'> <class 'bool'>

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise

Test out the mathematics behind the Boolean values by adding together True and False.

In [43]:
# Exercise
True * 3

3

In [ ]:
# Solution - These cells contain answers for the exercises.
#Run once to reveal the code.
#Run again to reveal the output. 

%load ../solutions/chapter_2/data_type_bool.py

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Type Conversion

You can also use inbuilt functions to convert type within Python

* `int()` converts things to an integer,
* `float()` converts things to a float,
* `str()` converts things to a string.

We’ll look at some other ways to do convert types later in the course.

In [45]:
print(float(3), int(5.3), str(3))

3.0 5 3

In [47]:
a = str(3)
"34" + a

'343'

In [49]:
float(a)

3.0

[return to menu](#menu)

<a id='objects'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Objects and Classes

* A class is a blueprint of similar objects.
* Objects are instances of a class.
* Classes contain attributes  and methods that belong to objects.
* Methods dictate what objects can do - its behaviour.
* attributes  are information owned by objects.
* In python everything is an object!

For example let’s make a pretend class called “Dog”.

Our dog class has some methods – behaviours that dictate what they can do - e.g

* `dog.eat()`
* `dog.sleep()`
* `dog.run()`
* `dog.sit()`

We also have attributes  – e.g

* `dog.breed`
* `dog.size`
* `dog.age`

We can then create objects of the “Dog” class. Let’s create a Chow Chow object, and we can then apply our methods and attributes  to it.


<img src="../images/chowchow.jpg" alt="Drawing" style="width: 200px;"/>

E.G:

**methods (actions)**
* `chowchow.eat()`
* `chowchow.run()`

**attributes  (descriptors)**
* chowchow.breed  returns `“Chow Chow”`
* chowchow.size returns `“medium”`
* chowchow.color returns `“brown”`

We can also create an object called “jack_russel” from our “dog” class.

We can still perform those methods, `jack_russel.eat()` and `jack_russel.run()` but the outputs of our attributes may be a little different: `jack_russel.size` will return us `small` for example.

Attributes and methods pertain to the class of the object; for example a class called “snake” and an object called “corn_snake” wouldn’t need to have the method `.run()` as that’s not something snakes do, `.slither()` would be a better method.

In this next section we’re going to look at some common objects from core python – Lists, Tuples and Dictionaries.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Lists

A list is a type of container; it holds a collection of items. 

The items in a list have an order (an index) 

Lists are mutable, we can change items in them and add or delete items,

We create lists using square brackets `[ ]` and separate each item with a comma.

Lists
* Are the most versatile of the built-in data structures
* Can hold any sequence of objects
* Can hold mixed objects (like strings, integers and Booleans together)
* Are mutable (can be changed)

Lists can also do more advanced things than we talk about in this course. You may come across those as you progress with your code.

Here we have created a list with the variable name `the_pythons`.

We assign values to this using the `=` sign

These values are the strings `"Chapman" , "Idle", "Gilliam", "Jones", "Cleese"` and `"Palin"`

Because we’re storing more than one value we need to use a list.

To create our list we pleace square brackets `[ ]` around the values.

Each value is separated by a comma.

We print out the contents of the list by giving Python the variable name - `the_pythons`.

In [50]:
# Create my list

the_pythons = ["Chapman", "Idle", "Gillam", "Jones", "Cleese", "Palin"]

# Display my list

the_pythons

['Chapman', 'Idle', 'Gillam', 'Jones', 'Cleese', 'Palin']

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise

Store at least three hobbies within a list. Choose an appropriate variable name.

In [ ]:
# Exercise

In [52]:
# %load ../solutions/chapter_2/object_type_list.py
# Store at least three hobbies within a list. Choose an appropriate variable name.
hobbies = ["Swimming", "Shopping", "Golf", "Extreme Ironing"] 

# Return the list

hobbies

['Swimming', 'Shopping', 'Golf', 'Extreme Ironing']

We can also create lists using the `list()` function.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Tuples

Tuples are similar to lists; the two main differences are:

* Tuples are immutable (unchangeable)
* Tuples are created with round brackets `( )`

We’ll often see lists and tuples as inputs or outputs for the programming we do.

In [54]:
# Create my tuple

days_of_the_week = ("Monday", 'Tuesday', "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

#print out my tuple

days_of_the_week

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise
Store the names of at least three pets within a tuple. Choose an appropriate variable name.

In [ ]:
# Exercise

In [58]:
# %load ../solutions/chapter_2/object_type_tuple.py
#Store three pets names within a tuple. Choose an appropriate variable name.

pets = ("Clawdia", "Catpernicus", "Fuzz Aldrin", "David Meowie", "Dave") 

# Return the values

pets

('Clawdia', 'Catpernicus', 'Fuzz Aldrin', 'David Meowie', 'Dave')

In [57]:
%whos

Variable           Type      Data/Info
--------------------------------------
a                  str       3
age                int       29
days_of_the_week   tuple     n=7
height             float     1.6
hobbies            list      n=4
name               str       Hannah
np                 module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pets               tuple     n=4
pi                 float     3.14159
the_pythons        list      n=6
y                  int       26

We can also create tuples using the `tuple()` function.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

When we say something is mutable or immutable we mean changing the contents programmatically. There are methods we’ll see later where we can add or remove a value from a list; like `.append()`, `.extend()` or `.pop()`

We can’t do that to tuples; the only thing we can do is write over them in memory by assigning a new tuple to the same variable. 

That’s not changing the values in the tuple; but overwriting it – a technical but important difference.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Dictionaries

The third object type we’ll look at is Dictionaries.

Dictionaries also store a collection of objects.

Whereas lists and tuples have an order (an index); Dictionaries are unordered.


Dictionaries are also
* Mutable (can be altered)
* Can contain lists and other (nested) dictionaries.

Dictionaries are created using curly braces `{ }`

Dictionaries contain key value pairs.

**Keys** are usually integers or strings (an immutable data type)

** Values** can be any type of object

Keys and values are separated by a colon ( `:` )

In [59]:
# Create my dictionary

brian_information = {"name": "Brian Cohen",
                     "occupation": ["messiah ", "very naughty boy"],  # more than one value gets stored in a list
                     "enemy": "Pontius Pilate",
                     "outlook": "Look on the bright side of life"}

# Print the dictionary

brian_information

{'enemy': 'Pontius Pilate',
 'name': 'Brian Cohen',
 'occupation': ['messiah ', 'very naughty boy'],
 'outlook': 'Look on the bright side of life'}

In this example we have the keys `name`, `occupation`, `enemy` and `outlook` - which all have associated values.

Most have *one* associated value – like `Brian Cohen` for the key `name`.

The key `occupation` has one associated value, a **list**. But this list contains multiple elements within itself. This allows us to be flexible with our values.

Note the dictionary prints out it’s values in alphabetical order; not the order we supplied them in. 
Different versions of Python may print them out in a different order.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise:
Make a dictionary;

* Use cities as keys
* Use sports team names as values.
* Make one value a list.
* Choose an appropriate variable name.

E.g:

* Newport has Newport County
* Manchester has Manchester City and Manchester United
* Fareham has Fareham Town

In [ ]:
# Exercise

In [61]:
# %load ../solutions/chapter_2/object_type_dictionary.py
#Store three pets names within a tuple. Choose an appropriate variable name.

football_clubs = {"Newport": "Newport County",
                  "Leicester": "Leicester City",
                  "Manchester": ["Manchester City", "Manchester United"],
                  "London": ["Brentford", "Queens Park Rangers", "Chelsea", "Fulham", "Arsenal", "West Ham", "Millwall"],
                  "Grimsby": "Grimbsy Town",
                  "Fareham": "Fareham Town"} 

# Return the dictionary

football_clubs

{'Fareham': 'Fareham Town',
 'Grimsby': 'Grimbsy Town',
 'Leicester': 'Leicester City',
 'London': ['Brentford',
  'Queens Park Rangers',
  'Chelsea',
  'Fulham',
  'Arsenal',
  'West Ham',
  'Millwall'],
 'Manchester': ['Manchester City', 'Manchester United'],
 'Newport': 'Newport County'}

We can also create dictionaries using the `dict()` function.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Indexing

We can select items from our lists, tuples and dictionaries. To do so we use square brackets [ ] .

Let’s look at the list `the_pythons` we defined earlier

![Indexing_example](../images/indexing_1.jpg)

We can select items from our lists, tuples and dictionaries. To do so we use square brackets [ ] .

Let’s look at the list `the_pythons` we defined earlier

Each item within our list (or tuple) has an index. This relates to it’s position in the list.

Python starts indexing at 0 – which may be different to some other languages you’ve used. (Think of it as starting on the ground floor of a building, then going up to the first floor).

In order to return the element in the list we can simply give the object name, then the index of the item we want to return within square brackets.

The code below will return the value `Jones`

In [62]:
the_pythons[3]

'Jones'

We can also use what’s known as negative indexing.

![Indexing_example](../images/negative_indexing.jpg)

The code in the next cell will return the same values. This can be useful if you want to return the last element; without knowing how many elements there are in your object.

In [63]:
print(the_pythons[0], the_pythons[-6])

Chapman Chapman

For a list, we can use also use this indexing to overwrite values in a list. As tuples are immutable, and cannot be changed once created, this would not work on the `days_of_the_week` tuple.

In [64]:
the_pythons[4] = "Cheese" # Select the item at index 4 and overwrite it with "Cheese"

# Return our modified list
the_pythons

['Chapman', 'Idle', 'Gillam', 'Jones', 'Cheese', 'Palin']

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise

The code below gives you a new list – of different types of parrot. They’re just resting; and pining for the Fjords.

Use indexing to return the element ` Norwegian Blue` from the list

In [65]:
# Exercise

parrots = ["Cockatoo" , "Macaw", "Parakeet", "Lorikeet", "Norwegian Blue", "Conure"]

# Use indexing to return the element Norwegian Blue

parrots[-2]

'Norwegian Blue'

In [67]:
days_of_the_week[2]

'Wednesday'

In [ ]:
# %load ../solutions/chapter_2/indexing_1.py
# Use indexing to return the element Norwegian Blue from the list
parrots[4], parrots[-2]

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Sequential items

If we want to select more than one sequential item we can use a colon ( `:` ) between the first index position (inclusive) and the last index position (exclusive).

It is important to remember that the last index is **exclusive** in this case, it will not be included.

As a reminder our `the_pythons` list looks like this

![Indexing_example](../images/indexing_1.jpg)

If I wanted to select the values `Idle, Gillam, Jones` the following code:

In [68]:
the_pythons[1:3]

['Idle', 'Gillam']

would not give the output we want. Instead I need to provide

In [74]:
the_pythons[1:]

['Idle', 'Gillam', 'Jones', 'Cheese', 'Palin']

If I want to select from the beginning or to the end of the list I can leave the position before or after the colon blank respectively.

This first code selects from the start of the list to `Gillam` - remember the last number is exclusive.

This code selects from `Idle` at index 1 to the end of the list.

In [ ]:
print(the_pythons[:3], the_pythons[1:])

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise

From the `parrots` list use indexing to return the elements

`Macaw, Parakeet, Lorikeet, Norwegian Blue`

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
#Run once to reveal the code.
#Run again to reveal the output. 

%load ../solutions/chapter_2/indexing_2.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

These methods also work for tuples.

Using the `days_of_the_week` tuple we declared earlier, below I return, Wednesday, the week days and the weekend days.

In [75]:
print("The element at index 2 is", days_of_the_week[2])
print("The weekdays are:", days_of_the_week[:5])
print("The weekend days are:", days_of_the_week[-2: ])

The element at index 2 is Wednesday
The weekdays are: ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
The weekend days are: ('Saturday', 'Sunday')

### Non Sequential Items

There's no direct inbuilt way of accessing non sequential items. In other languages like R this is simple to do; but not so much in python. 

We can use a function called `itemgetter` to do this This takes the indexes we want to retun - 2 and 5 and then the list.

We also have to import the function from the package - again this will be explained later.

You may not understand this code currently -it is shown as it's a common question from learners and has been added for completeness.

In [76]:
from operator import itemgetter
itemgetter(2, 5)(the_pythons)

('Gillam', 'Palin')

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Indexing a Dictionary

Indexing a dictionary is slightly different from indexing a list.

As dictionaries are unordered data – they do not have a numerical index, like our lists and tuples.

We use our square brackets; and instead give the Key for the value we wish to return.

In [77]:
brian_information["name"]

'Brian Cohen'

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Accessing Functions, Methods and Attributes

Unlike other programming languages we can perform actions, or get information from Python in a variety of ways
* Functions
* Methods
* Attributes

** Functions **

Functions are pieces of code that are called by name. They are a set of statements that take inputs, do something to it, and produce an output. The concept is that we can perform a commonly done or repeated task by just calling the function.


We’ll look at how we can define our own functions at the end of the chapter 7.

For now let’s have a look at some of the [inbuilt functions]( https://docs.python.org/3.3/library/functions.html) in Python.

We’ve already seen 
* `type()`  - tells us the kind of object we put within the brackets. 
* `int()`, `float()`, `str()` - for type conversion

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5"> 

### Exercise
Try running `len()` on the list `the_pythons`. 

Can you work out what the output is? 

Try running it on another list.

In [78]:
%whos

Variable            Type      Data/Info
---------------------------------------
a                   str       3
age                 int       29
brian_information   dict      n=4
days_of_the_week    tuple     n=7
football_clubs      dict      n=6
height              float     1.6
hobbies             list      n=4
itemgetter          type      <class 'operator.itemgetter'>
name                str       Hannah
np                  module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
parrots             list      n=6
pets                tuple     n=5
pi                  float     3.14159
the_pythons         list      n=6
y                   int       26

In [81]:
# Exercise
len(pets)

5

In [ ]:
# Solution - These cells contain answers for the exercises.
#Run once to reveal the code.
#Run again to reveal the output. 

%load ../solutions/chapter_2/functions_1.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

** Methods and attributes **

Methods and attributes relate to the objects that we perform them on.

Each object has it’s own methods and attributes that relate to that object.

For example, we can use the method `.sort()` on our `parrots` list we created earlier.

* **Firstly ** we tell python the object we want to work on – here by giving the variable/identifier `parrots`.
* ** Secondly ** we use the full stop or “dot notation”
* ** Thirdly** we call our method – here ` sort` and finish it with round brackets

In [82]:
# A reminder of how we created the original list
parrots = ["Cockatoo" , "Macaw", "Parakeet", "Lorikeet", "Norwegian Blue", "Conure"]

# Use the sort method to sort the list

parrots.sort()

# Print out the parrots list to see what's happened.
parrots

['Cockatoo', 'Conure', 'Lorikeet', 'Macaw', 'Norwegian Blue', 'Parakeet']

Here we’re using a method that does not have any mandatory parameters – we’ll look at how you can find out what parameters a method or function has in the next chapter.

As it has no mandatory parameters we complete the method by opening and closing round brackets.

Let’s try using `.extend()` on the `parrots` list we created earlier.
`.extend()` adds items to our list.

* **1st** We create a new list, with the objects we want to add.
* ** 2nd ** We tell python the object we want to work on – here by giving the variable/identifier parrots.
* ** 3rd ** We use the full stop or “dot notation”
* ** 4th** We call our method – here ` extend` and open our round brackets
* ** 5th** We need to tell the method what to add - the list we created earlier. We put this in the round brackets.

In [84]:
# Create a new list with more birds

more_parrots = ["Lovebird", "Kea", "Rosella"]

# Use the extend method to add the new list more_parrots to our parrots list

parrots.extend(more_parrots)

# Print out the parrots list to see what's happened.
parrots

['Cockatoo',
 'Conure',
 'Lorikeet',
 'Macaw',
 'Norwegian Blue',
 'Parakeet',
 'Lovebird',
 'Kea',
 'Rosella',
 'Lovebird',
 'Kea',
 'Rosella']

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise
Use the `.pop()` method on the `parrots` list to remove the value `Norwegian Blue`

`.pop()` removes an item from a list.

This takes one parameter; the argument you’ll need is the index position of the thing you wish to remove.

In [85]:
# Run this cell to print out parrots again - it may help you find what index you need to .pop!

parrots

['Cockatoo',
 'Conure',
 'Lorikeet',
 'Macaw',
 'Norwegian Blue',
 'Parakeet',
 'Lovebird',
 'Kea',
 'Rosella',
 'Lovebird',
 'Kea',
 'Rosella']

In [88]:
# Exercise
parrots.pop(4)

'Parakeet'

In [89]:
parrots

['Cockatoo',
 'Conure',
 'Lorikeet',
 'Macaw',
 'Lovebird',
 'Kea',
 'Rosella',
 'Lovebird',
 'Kea',
 'Rosella']

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code.
# Run again to reveal the output. 

%load ../solutions/chapter_2/methods_1.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

** Attributes **

Sometimes we’ll want to find something out about an object. If something is descriptive about an object, we’ll often use attributes to return information.

Attributes are called like methods, using dot notation. However, they do *not* have round brackets.
e.g.

`my_dataframe.shape`

We’ll look at attributes more when we look at data frames in chapter four.

We’ll also get a lot more practice using functions, methods and attributes throughout this course.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## What methods and attributes can I use?

To find the methods and attributes for an object you can use

In [91]:
dir(days_of_the_week)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

This function returns the attributes and methods of a specified object, here a list.

It doesn’t tell you if something is an attribute or a property, and it doesn’t give you any values to pass to the methods; but can be useful to see if something you want to do has a function or method that looks about right. When combined with the help documentation we’ll see later you can explore these methods and attributes in more detail.

[return to menu](#menu)

<a id='pandas_objects'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

In [2]:
%whos

Interactive namespace is empty.

## Pandas Objects

`pandas` is a Python library originally written by Wes McKinney, and is the most preferred, most used tool when data wrangling tabular data within Python.

We will use the `pandas` library a lot throughout this course.

`pandas` is a Python library, which are often refered to as "packages".

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Packages

Packages are a collection of functions, objects and compiled code which are stored in a “library” of code within Python.

Our Anaconda installation gives us access to quite a few packages "out of the box". 

ONS users may have Anaconda 4.4.0 - see a full list of [default anaconda 4.4.0 packages]( https://docs.anaconda.com/anaconda/packages/old-pkg-lists/4.4.0/py35/)

Or may have Anaconda 2020.07 - see a full list of [default anaconda 2020.07 packages](https://docs.anaconda.com/anaconda/packages/old-pkg-lists/2020.07/py3.6_win-32/)

You can find the default packages for other versions [at this link](https://docs.anaconda.com/anaconda/packages/oldpkglists/). You can also do this in jupyter by running the code `! conda list`

All the packages we use for this course are already downloaded as part of the Anaconda distribution.

You can check your version of Python and your version of Anaconda by using the following comands. The `!` allows us to access command line commands in Jupyter.

In [1]:
from platform import python_version
print("Python Version", python_version())
print("Anaconda Version")
!conda list anaconda$

Python Version 3.8.3
Anaconda Version
# packages in environment at C:\Users\hodgeh\Anaconda3:
#
# Name                    Version                   Build  Channel
anaconda                  2020.07                  py38_0    https://repo.anaconda.com/pkgs/main

For installing packages that are not included within the Anaconda distribution there are a few options. The most popular being `pip` and `conda`.  Python packages can be found on PyPi [(the Python Package Index)]( https://pypi.org/), as well as being shared by colleagues or downloaded from the internet. Caution should be taken when using the latter, as there could be malicious software in the bundle.

Within ONS our packages are hosted on a mirrored version of PyPi called “Artifactory”. This may be familiar to you if you use R. Please see the instructions on Yammer [here](https://www.yammer.com/ons.gov.uk/#/Threads/show?threadId=131432635932672&search_origin=global&scoring=linear1Y-prankie-group-private-higher&match=any-exact&search_sort=relevance&page=1&search=pip.ini) for installing additional 
packages.

Other government departments have their own rules regarding installation of packages, please contact your IT department or Data Science department for guidance.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Importing Pandas

In order to use the functionality of the Pandas package within our Python code; we first need to import it.

We need to import our packages in every script we write.

You should always import the packages you’re going to use at the very ** top ** of your script.

As we mentioned in the last chapter, we have already downloaded the packages we need for this course – they come bundled with the Anaconda Suite.

To use the functions within a package we need to import it by using an import statement:

In [4]:
import pandas as pd

In [5]:
%whos

Variable         Type        Data/Info
--------------------------------------
pd               module      <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
python_version   function    <function python_version at 0x000001768BC37950>

When we import a package we don't get any feedback it's worked. The cell will change from a green to blue, and the line number will increase.

* We start by using the key word `import` - this is a reserved word in Python, you can see the syntax highlighting, it is now bold and green.


* We then give the package name


* The keyword `as` allows us to give a nickname to the package


* Which here is `pd`

We don’t have to give nicknames to packages; however, it’s a very common standard; that saves us some typing. We’ll often need to reference the package containing the function; e.g `pd.Series()` - which is much faster than `pandas.Series`().

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Checking Package Versions

All packages have versions; this allows code to be updated, extended or modified as time goes on.


For reproducibility purposes, as well as searching for help it can be important to know which version of a package you’re using.


Most packages follow the PEP8 guidelines we talked about previously and allow you to find the version of a package using the command.

In [6]:
pd.__version__ 

# Note here there's TWO underscores before *and* after version.

'0.20.1'

In [7]:
np.__version__

NameError: name 'np' is not defined

Within ONS our current version of Pandas is `0.20.1. `

All course material is designed to work with this version of Pandas.

If you have an older version you may find some parts may not work. 

If you have a more modern version you may find some small changes; like different parameter names or possibly more streamlined ways to write certain parts of code.

Most versions are backwards compatible so should function as expected.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Series

Pandas gives us two new object types.

`Series` are

* One dimensional arrays
* Act like columns in a spreadsheet
* Must have items of the same type (int, float or str)
* Has a series index – defaults to start at 0


Series have a large number of special methods and procedures associated with them; which we’ll explore in this course.

In [8]:
# I'm manually creating a Series here - we'll talk about why we don't teach this in a second.

python_movies = pd.Series(["And Now For Something Completely Different",
                           "Monty Python and the Holy Grail",
                           "Monty Python's Life of Brian",
                           "Monty Python Live at the Hollywood Bowl",
                           "Monty Python's Meaning of Life",
                           "Monty Python Live (Mostly)"])


# Display the series below the cell.

python_movies

0    And Now For Something Completely Different
1               Monty Python and the Holy Grail
2                  Monty Python's Life of Brian
3       Monty Python Live at the Hollywood Bowl
4                Monty Python's Meaning of Life
5                    Monty Python Live (Mostly)
dtype: object

In [10]:
dir(pd.Series)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_prepare__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_allow_index_ops',
 '_at',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_expand_axes',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_loc',
 '_make_cat_accessor',
 '_make_dt_accessor',
 '_make_str_accessor',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asobject',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'cat',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'from_csv',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'interpolate',
 'is_copy',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'real',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'reshape',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'select',
 'sem',
 'set_axis',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'std',
 'str',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_msgpack',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'valid',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [11]:
dir(list())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### DataFrames

`DataFrames` are

* A two dimensional version of the series object
* Like a whole spreadsheet
* Essentially a collection of series objects (one series per column)

where

* A column can only have one data type
* Each column can have a different data type
* The dimensions are labelled similarly to a series object
	* **index** refers to the row labels – and defaults to starting at 0
	* **columns** refers to the column labels – or headers.

The `DataFrames` will have some of the same methods as `Series` and some different.

In [9]:
# First I'm setting up some Series of data to be my columns.
# Note these are in the same order as python_movies
# python_movies already exists from my previous cell so I can recycle it

python_live = pd.Series([False, False, False, False, False, True])
python_year = pd.Series([1971, 1975, 1979, 1982, 1983, 2014])

# Now I'll create my Dataframe

python_movies_df = pd.DataFrame({"film_name": python_movies,
                                 "live": python_live, 
                                 "year": python_year})

# This is passing a dictionary { } to the pd.DataFrame command.
# In the dictionary I have each column header (as a string) and then the Series data.
# These are seperated by a colon - like we saw earlier.
 
# then print out the Data Frame

python_movies_df

                                    film_name   live  year
0  And Now For Something Completely Different  False  1971
1             Monty Python and the Holy Grail  False  1975
2                Monty Python's Life of Brian  False  1979
3     Monty Python Live at the Hollywood Bowl  False  1982
4              Monty Python's Meaning of Life  False  1983
5                  Monty Python Live (Mostly)   True  2014

### Why are we not creating series and data frames?

In this course we don’t manually create `Series` or `DataFrame` objects within Python.

When we work in Python we’re often reading in data from files; very rarely do we create the data we want from scratch.  It can be a useful skill to know – and if you wish to extend your knowledge [here]( https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html) is a short tutorial.

[return to menu](#menu)

<a id='help'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Accessing Help

In the last chapter we talked about generic places you can find help for your work in Python.

In this section we’re going to talk about the in-built help within Python, called doc (document) strings.

Here we’re going to look at the help documentation for `.sample()`.

`.sample()` can be used on a column of a DataFrame – like the `python_movies_df` we created earlier.

In [12]:
python_movies_df.sample()

                                 film_name   live  year
3  Monty Python Live at the Hollywood Bowl  False  1982

By default `.sample()` returns us one row of a DataFrame.

What if I want to change the behaviour to return multiple rows? To find out how to do this I could search the function on Google.

However it’s easier to look in the documentation contained within Python.

We can do this in a few different ways - by using the function `help()` on our code

In [14]:
# Run this Cell to show the help
#help(pd.DataFrame.sample)
help(python_movies_df.sample())

Help on function sample in module pandas.core.generic:

sample(self, n=None, frac=None, replace=False, weights=None, random_state=None, axis=None)
    Returns a random sample of items from an axis of object.

    .. versionadded:: 0.16.1

    Parameters
    ----------
    n : int, optional
        Number of items from axis to return. Cannot be used with `frac`.
        Default = 1 if `frac` = None.
    frac : float, optional
        Fraction of axis items to return. Cannot be used with `n`.
    replace : boolean, optional
        Sample with or without replacement. Default = False.
    weights : str or ndarray-like, optional
        Default 'None' results in equal probability weighting.
        If passed a Series, will align with target object on index. Index
        values in weights not found in sampled object will be ignored and
        index values in sampled object not in weights will be assigned
        weights of zero.
        If called on a DataFrame, will accept the name of a column
        when axis = 0.
        Unless weights are a Series, weights must be same length as axis
        being sampled.
        If weights do not sum to 1, they will be normalized to sum to 1.
        Missing values in the weights column will be treated as zero.
        inf and -inf values not allowed.
    random_state : int or numpy.random.RandomState, optional
        Seed for the random number generator (if int), or numpy RandomState
        object.
    axis : int or string, optional
        Axis to sample. Accepts axis number or name. Default is stat axis
        for given data type (0 for Series and DataFrames, 1 for Panels).

    Returns
    -------
    A new object of same type as caller.

    Examples
    --------

    Generate an example ``Series`` and ``DataFrame``:

    >>> s = pd.Series(np.random.randn(50))
    >>> s.head()
    0   -0.038497
    1    1.820773
    2   -0.972766
    3   -1.598270
    4   -1.095526
    dtype: float64
    >>> df = pd.DataFrame(np.random.randn(50, 4), columns=list('ABCD'))
    >>> df.head()
              A         B         C         D
    0  0.016443 -2.318952 -0.566372 -1.028078
    1 -1.051921  0.438836  0.658280 -0.175797
    2 -1.243569 -0.364626 -0.215065  0.057736
    3  1.768216  0.404512 -0.385604 -1.457834
    4  1.072446 -1.137172  0.314194 -0.046661

    Next extract a random sample from both of these objects...

    3 random elements from the ``Series``:

    >>> s.sample(n=3)
    27   -0.994689
    55   -1.049016
    67   -0.224565
    dtype: float64

    And a random 10% of the ``DataFrame`` with replacement:

    >>> df.sample(frac=0.1, replace=True)
               A         B         C         D
    35  1.981780  0.142106  1.817165 -0.290805
    49 -1.336199 -0.448634 -0.789640  0.217116
    40  0.823173 -0.078816  1.009536  1.015108
    15  1.421154 -0.055301 -1.922594 -0.019696
    6  -0.148339  0.832938  1.787600 -1.383767

The help documentation has a few different sections. As the contents of these are defined by the creator of the function some may have more information in them than others.

This one has:

`Signature` - the text we use to call the function and the parameters (think options) and arguments (default values) inside of the brackets. Here we have several the paramater `n = ` contols the number of rows returned and parameter called `replace = ` and the default argument for this is `False`.

Underneath this tells us the `Docstring` – which is information about the function.

Thirdly `Paramaters` gives us more information about the paramaters (options) we can set within this function.

Going back to our `replace = ` parameter, we can see that this takes a `Boolean` argument (`True` or `False`) and that it controls if we sample with or without replacement.

At the bottom we have `Returns` which tells us what the function returns; and underneath this we have `Examples` - not all functions will have this level of detail in the docstring!

Now we know other parameters we can set for `python_movies_df.sample()` let’s try returning a sample of 4 rows, and turn `replace = ` to `True`

In [24]:
python_movies_df.sample(n = 6, replace=True)

                         film_name   live  year
5       Monty Python Live (Mostly)   True  2014
1  Monty Python and the Holy Grail  False  1975
4   Monty Python's Meaning of Life  False  1983
2     Monty Python's Life of Brian  False  1979
4   Monty Python's Meaning of Life  False  1983
1  Monty Python and the Holy Grail  False  1975

Due to the random sampling you may need to run the above cell a few times until you see duplicate rows.

We’ve now used our Docstring to find some additional arguments we can specify to modify the behaviour of `.sample()`. 

Our paramaters and their arguments (`n=4 ` and `replace=True`) go inside of the round brackets of the function. These are seperated by commas.

We can access the Docstrings in a few other ways:  

We can also use a `?` before our function. Note this may not work for certain versions of Python - if this is the case use `help()` instead.

In [25]:
?python_movies_df.sample()

Jupyter Notebooks also has a rather nice way of accessing the docstring.

Place your cursor somewhere in the object below.

Pressing Shift + Tab once shows the parameters available for the object you are looking at.

Pressing Shift + Tab twice shows the whole docstring

Pressing Shift + Tab a third time makes the tool-tip linger for 10 seconds.

Pressing Shift + Tab a fourth time put the tool-tip into a larger pane in the browser.

In [ ]:
# Place your cursor in the .sample() command and press shift + tab

python_movies_df.sample()

`.sample()` is a fairly simple method – and doesn’t have many parameters and arguments.

Depending on what your function does depends on how many arguments and parameters there may me.

Have a look at the Docstring below for `pd.read_csv()` which we use for reading in CSV files into Python.

In [26]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used automatically. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the data.
        Default behavior is as if set to 0 if no ``names`` passed, otherwise
        ``None``. Explicitly pass ``header=0`` to be able to replace existing
        names. The header can be a list of integers that specify row locations for
        a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not
        specified will be skipped (e.g. 2 in this example is skipped). Note that
        this parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of data
        rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list are not
        allowed unless mangle_dupe_cols=True, which is the default.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        DEPRECATED: this argument will be removed in a future version. Please call
        `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        DEPRECATED: use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'`.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled, pandas will attempt to infer the format
        of the datetime strings in the columns, and if it can be inferred, switch
        to a faster method of parsing them. In some cases this can increase the
        parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call date_parser in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by parse_dates into a single array
        and pass that; and 3) call date_parser once for each row using one or more
        strings (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip,
        bz2, zip or xz if filepath_or_buffer is a string ending in '.gz', '.bz2',
        '.zip', or 'xz', respectively, and no decompression otherwise. If using
        'zip', the ZIP file must contain only one data file to be read in.
        Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        DEPRECATED: this argument will be removed in a future version because its
        value is not respected by the parser
    compact_ints : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

[return to menu](#menu)

<a id='help'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## End of Chapter

In this chapter we’ve explored:
* Variables and naming objects
* Common Data Types ( `Int`, `Float`, `Str`, `Bool` ) and how to convert them
* Objects and Classes – including `lists` , `tuples` and `dictionaries`
* How to select items (indexing) from our common objects
* A basic introduction to functions, methods and attributes
* A basic introduction to the Pandas package, and the Series and DataFrame objects.
* How to access help


You have completed Chapter 2 of the Introduction to Python course.

Please move on to Chapter 3